<!DOCTYPE html>
<html>
  <head>
    <title>
      Peer Calls - Video calls to anybody in the world with a private direct
      connection
    </title>
    <link rel="apple-touch-icon" href="{{.BaseURL}}/res/gopher.jpg" />
    <link />
    <link rel="icon" sizes="256x256" href="{{.BaseURL}}/res/gopher.jpg" />
    <link />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{.BaseURL}}/static/home.css?{{.Version}}"
    />
    <link />
  </head>
  <body>
    <nav class="navbar navbar-light sticky-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="{{.BaseURL}}/res/gopher.jpg"
            width="60"
            height="50"
            class="d-inline-block align-top"
            alt=""
            loading="lazy"
          />
        </a>
      </div>
    </nav>
      <div class="mainC">
        <h1>
          <img
            src="{{.BaseURL}}/res/gopher.jpg"
            width="100px"
            alt="Peer Calls"
          />
          Gopher EDU
        </h1>
        <form
          id="form"
          method="post"
          action="{{.BaseURL}}/class"
          autocomplete="off"
        >
        <select name="call" value="swerdlow">
          <option value="swerdlow">Mr. Swerdlow</option>
          <option value="zwang">Dr. Zwang</option>
        </select>
          <!-- <input
            type="text"
            value="demo"
            name="call"
            placeholder="Class ID"
            autofocus
          /> -->
          <input type="submit" value="Start Session" />
        </form>

        <footer>
          <div>{{.Version}}</div>
        </footer>
      </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
