<!DOCTYPE html>
<html>
  <head>
    <title>
      Gopher EDU
    </title>
    <link rel="apple-touch-icon" href="{{.BaseURL}}/res/gopher.png" />
    <link />
    <link rel="icon" sizes="256x256" href="{{.BaseURL}}/res/gopher.png" />
    <link />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{.BaseURL}}/static/home.css?{{.Version}}"
    />
    <link />
    
  </head>
  <body>
    <div class="mainC">
      <h1 id="topHeader">
        Gopher EDU
      </h1>
      <form
        id="form"
        method="post"
        action="{{.BaseURL}}/class"
        autocomplete="off"
      >
        <input type="text"
        value="demo"
        name="call"
        class="textInput"
        placeholder="Class ID"
        autofocus>
        
        <span class="bar"></span>
        <input type="submit" value="Join Class" />
      </form>
    <footer>
      <img src="{{.BaseURL}}/res/gopher.png"  alt="Gopher EDU" />
    </footer>
  </div>   
  <div class="tech">
    <h1>Tech Stack</h1>
    <h2>Backend</h2>

    <div class="row">
      <div class="col-md-4">
        <h3>Kubernetes</h3>
        <img src="https://github.com/cheezbit/classroom-call/raw/master/readmeImages/kub4website.png"></img>
        <p>
          We used <b>Kubernetes</b> to make an industry level backend. It can scale up and down depending on how many users are active.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Go</h3>
        <img src="https://github.com/cheezbit/classroom-call/raw/4c357fa764ef36c014e0f28f96b91735bebec65b/readmeImages/Go-Logo_LightBlue.png"></img>
        <p>
          Our server is written in <b>Go</b>, which gives us insane speed, more than 10 times as fast as NodeJS
        </p>
      </div>
      <div class="col-md-4">
        <h3>Google Cloud</h3>
        <img src="https://github.com/cheezbit/classroom-call/raw/8f04e122ef5cdbd52515446991631f90652f7dde/readmeImages/gcloud.png"></img>
        <p>
          We hosted our server on <b>Google Cloud</b>, because it gave us an easy way to setup services and load balancers.
        </p>
      </div>
    </div>
    
  </div> 
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
